---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$grid-breakpoints: (
        xs: 0,
        sm: 544px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

$color-white: #ecf0f1;
$color-gray: #bdc3c7;
$color-green: #16a085;
$color-blue: #2c3e50;
$color-red: #c0392b;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "reset",
  "header",
  "footer",
  "layout"
;
