<header role="banner">
    <div class="header-bg"></div>
    <a href="{{ site.baseurl }}/" class="brand">
        &#10048;
    </a>
    <label for="menu-toggle" aria-label="Opens the menu">
        &#9778;
    </label>
    <input type="checkbox" name="menu-toggle" id="menu-toggle" aria-controls="menu">
    <nav id="menu" role="navigation">
        <label for="menu-toggle">
            &#215;
        </label>
        <div>
            <a href="{{ site.baseurl }}/index.html" aria-label="Go to the home page">
                <span>&#9733;</span>
                Home
            </a>
            <a href="{{ site.baseurl }}/about.html" aria-label="Go to the about page">
                <span>&#10084;</span>
                About
            </a>
            <p></p>
            <a href="https://github.com/{{ site.github_username }}" aria-label="Me on github">
                <span>&#9832;</span>
                me on github
            </a>
            <a href="https://github.com/{{ site.github_username }}/10k-2016/" aria-label="Project on github">
                <span>&#10048;</span>
                project on github
            </a>
            <p>{{ site.description }}</p>
        </div>
    </nav>
</header>
