<header>
    <div class="header-bg"></div>
    <label for="menu">
        &#9776; Menu
    </label>
    <input type="checkbox" name="menu" id="menu">
    <nav>

        <label for="menu">
            &#215;
        </label>
        <div>
            <a href="{{ site.baseurl }}/">
                <span>&#9733;</span>
                Home
            </a>
            <a href="{{ site.baseurl }}/about">
                <span>&#10084;</span>
                About
            </a>
            <a href="#">
                <span>&#9832;</span>
                ect...
            </a>
            <div>{{ site.description }}</div>
        </div>
    </nav>
</header>
