header {
  position: relative;
  padding: 1rem;
  margin-bottom: 2rem;
  .header-bg {
    background-color: $green-sea;
    transform: rotate(2deg) scale(3);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  > a {
    position: relative;
    font-size: 2rem;
    float: left;
    background: $wisteria;
    color: $gray-light;
    padding: 1rem;
    border-radius: 50%;
  }
  label {
    position: relative;
    display: block;
    font-size: 3rem;
    float: right;
    line-height: 2rem;
    width: 3rem;
    text-align: center;
    cursor: pointer;
  }
  nav {
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    bottom: 0;
    background: rgba(0, 0, 0, .2);
    z-index: 5;
    color: $midnight-blue;
    transition: .5s left, .5s background;
    overflow: auto;
    label {
      font-size: 4rem;
      line-height: 3.5rem;
      width: 5rem;
    }
    > div {
      max-width: 662px;
      margin: 4rem auto;
      > a {
        color: $midnight-blue;
        font-size: 1rem;
        display: block;
        float: left;
        width: 50%;
        text-align: center;
        padding: 2rem 0;
        transition: .3s color, .3s transform;
        span {
          display: block;
          font-size: 3rem;
          line-height: 3rem;
        }
        &:hover {
          transform: scale(1.2);
          color: $gray;
        }
      }
      > p {
        border-top: 2px solid $gray-light;
        padding: 1rem;
        clear: both;
        text-align: center;
      }
    }
  }
  > input {
    position: absolute;
    opacity: .01;

  }
  > input:checked + nav {
    color: $gray-light;
    display: block;
    left: 0;
    background: rgba(0, 0, 0, .8);
    a {
      color: $gray-light;
    }
  }
}