.container {
  overflow: hidden;
  padding-bottom: 100px;
}

article {
  position: relative;
  max-width: 760px;
  margin: 0 auto;
  padding: 1rem;
  animation: fadeIn 2s;
  figure {
    transition: .5s transform;
    font-size: 4rem;
    text-align: center;
    figcaption {
      font-size: 2rem;
    }
    @media screen and (min-width: 768px) {
      float: left;
      width: 33%;
    }
  }
  &:hover {
    figure {
      transform: translate(0px, -10px);
    }
  }

  @include clearfix();
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bg-wet-asphalt {
  background: $wet-asphalt;
}

.bg-sun-flowers {
  background: $sun-flower;
}

.bg-pommegrenade {
  background: $pomegranate;
}

.inversed {
  color: $inverse;
  a {
    color: $gray-light;
  }
}

.blocks {
  margin: 0 -2%;
  .block {
    @media screen and (min-width: 768px) {
      width: 29%;
      float: left;

    }
    margin: 2%;
    display: block;
    padding: 1rem;
    box-sizing: border-box;
    color: $wisteria;
    border: 2px solid $amethyst;
    background-color: $inverse;
    height: 100px;
    position: relative;
    transition: .3s background;
    border-radius: 3px;
    h2, p {
      transition: .3s all;
    }
    h2 {
      position: absolute;
      top: 0;
      left: 1rem;
    }
    p {
      position: absolute;
      top: 40px;
      right: 1rem;
    }
    &:hover {
      color: $gray-light;
      background-color: $wisteria;
      h2 {
        top: 3rem;
      }
      p {
        top: 1rem;
      }
    }

    &.bg-pommegrenade {
      color: $pomegranate;
      border-color: $carrot;
      &:hover {
        color: $gray-light;
        background-color: $pomegranate;
      }
    }
    &.bg-midnight-blue {
      color: $midnight-blue;
      border-color: $wet-asphalt;
      &:hover {
        color: $gray-light;
        background-color: $midnight-blue;
      }
    }
    &.bg-green-sea {
      color: $green-sea;
      border-color: $turquoise;
      &:hover {
        color: $gray-light;
        background-color: $green-sea;
      }
    }
  }
}